/* http://www.w3schools.com/howto/howto_js_topnav.asp */
/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Card Styling */ 
#wrapper {
  width: 100%;
  margin: 0 auto;
  display: block;
  font-size: 20px;
}

.card-container {
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.19)!important;
  margin: 10px;
  display: inline-block;
  border-radius: 5px; /* 5px rounded corners */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #fffaf0
}

.card-container img {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.card-header, .card-footer {
  height: 50px;
  background: #e3e617;
  font-size: 40px;
}

/* https://css-tricks.com/text-blocks-over-image/ */
h1 { 
   position: absolute; 
   top: 100px; 
   left: 10px; 
   width: 100%; 
   color: white;
   text-align: center
}

h2 { 
   position: absolute; 
   top: 150px; 
   left: 20px; 
   width: 100%; 
   color: white;
   text-align: center
}

/* Table Styling */
th, td {
	padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {background-color: #f2f2f2}



